@model Instrument
@{
    ViewData["Title"] = "Add";
}

<h1>New Instrument Added:</h1>

<h2>@Model.Color @Model.Type</h2>

Model Name: @Model.Model <br /><br />
Year Built: @Model.Year <br /><br />
$@Model.Price


